/* Use css normalize ::-webkit-search-results-buttonnecolas.github.io/normalise.css */
/* CSS tricks for resources on flex boxes */

/* css-tricks.com */
/* Make website designs in Sketch */

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 30px;
    align-content: center;
    animation: fadeIn 1.5s ease-in;
    background: linear-gradient(to top, #91e2f8 10%, #005bea 100%);
}

/* form {
    margin: auto;
} */
.container {
    text-align: center;
}

h1 {
    display: flex;
    margin-top: 15px;
    width: 70%;
    /* float: left; */
    border: 2px solid green;
    align-items: center;
    vertical-align: center;
    text-align: center;
}

form {
    /* display: block; */
    border: 1px solid orange;
    align-items: center;
}

.reset {
    font-size: 1.8em;
    margin-left: 15px;
    margin-top: 140px;
    color: black;
    border: 1px solid green;
}

#homeinstruction{
    margin-top: 20px;
}

#hometitle{
    margin-top: 120px;
    flex-grow: 10;
    font-size: 3em;
    color: white;
}

.move-up{
    margin-top: 20px;
}

html, body {
    min-height: 100%;
}
