/* Use css normalize ::-webkit-search-results-buttonnecolas.github.io/normalise.css */
/* CSS tricks for resources on flex boxes */

/* css-tricks.com */
/* Make website designs in Sketch */
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    animation: fadeIn 1.5s ease-in;
    /* background: linear-gradient(#00c6fb 0%, #005bea 100%); */
    background-color: red;
}

form {
    margin: auto;
}

h1 {
    display: flex;
    margin-top: 30px;
    width: 50%;
    border: 2px solid green;
    align-items: center;
    vertical-align: center;
    /* background: #EAF4F3; */
}

form {
    display: block;
    border: 1px solid green;
    align-items: center;

}

#reset {
    font-size: 1.8em;
    border: 1px solid green;
}


p {
    display: inline;
}
