<html>
    <head>
        <!-- 
        CSS
    -->
        <title>Analyse your article</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
    </head>
    <body>
        <header class="header">
            <h1>Insert article link here</h1>
        </header>

        <form name="urlForm" action=""
        onsubmit="return validateForm()" method="post">
        <input type="text" name="fname" value="https://www.">
        <input type="submit" value="Submit">
        </form>


    </body>
    <head>
        <script type="text/javascript" src="scripts/form.js"></script>
    </head>

</html>
