<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href ="{{ url_for('static',filename='bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-theme.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"></link>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">    
        <title>Article analysis</title>
    </head>

    <body class="body">
        <div><a class="reset" href="/">Reset</a></div>
        <div class="container">
            <h2 id="hometitle">Stance-off</h2>
            <h4 id="homeinstruction">Insert URL</h2>
            <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.url.label }}<br>
                        {{ form.url(size=32, value="https://") }}
                    </p>
                    <p>{{ form.submit() }}</p>
            </form>
            <br>         
        </div>    
    </body>

<script type="text/javascript" href="scripts/form.js"></script>

</html>