<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" media="screen" href ="{{ url_for('static',filename='bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-theme.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"></link>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='particles/particles.css') }}"></link>
        <title>Article analysis</title>
    </head>

    <body class="body">
        <div><a class="reset" href="/">Reset</a></div>
        <!-- <div id="particle-container"></div> -->
        <div id="particles-js"></div>

        <div class="container">
            <h2 id="hometitle">Stance-off</h2>
            <h4 id="homeinstruction">Insert URL</h2>
            <form id="inputform" action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        <!-- {{ form.url.label }} -->
                        <br>
                        {{ form.url(size=32, value="https://") }}
                    </p>
                    <p>{{ form.submit() }}</p>
            </form>
            <br>         
        </div>
        <!-- Particles scripts -->
        <script src="{{ url_for('static', filename='particles/particles.js') }}"></script> 
        <script src="{{ url_for('static', filename='particles/js/app.js') }}"></script>


        <!-- stats.js -->
        <!-- <script src="{{url_for('static', filename='particles/js/lib/stats.js') }}"></script> -->

        <script type="text/javascript" href="{{ url_for('static', filename='form.js') }}"></script>
    
    </body>
</html>