
    <head>
        <link rel="stylesheet" media="screen" href ="{{ url_for('static',filename='bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-theme.min.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"></link>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">    
        <title>Results</title>
    </head>
        
    <body class="body articletext">
        <div><a class="reset home" href="/">Home</a></div>
        <div class="container stance">
            <div>
                <h5 id="article-link">Analysing article located at: {{ article.url }}</h5>
            </div>
            <div class="stance-rating">
                    <p>Stance: {{ article.verdict}}</p>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="article-title">
                <h1>{{ article.header }}</h1>
            </div>
            <div class="article-body">
                <p>{{ article.body }}</p>
            </div>
        </div>
    </body>

</html>