<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">    
        <title>AA - Article analysis</title>
    </head>
        
{% block body %}
    <body>
        <div><a id="reset" href="/">Reset</a></div>
        <div>
            <h3 id="article-link">Displaying analysis for article: {{ urlpath }}</h3>
        </div>
        <br/>

    </body>

{% endblock  %}
</html>